@import "tailwindcss";
@theme{
    --color-primary-color:#FF7E01;
    --color-secondary-color:#FAA935;
    --color-text-color:#6E7074;
    --color-heading-color:#0B2727;
    --font-primary-font:"Montserrat";
    --font-sec-font:"Jost";
}